*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,textarea{
    display: block;
    margin-top: 5px;
    margin-bottom: 35px;
}

label{
    display: block;
}

select{
    margin-bottom: 35px;
}

header{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    min-height: 100vh;
}

main{
    min-height: 100%;
    flex-grow: 1;
}

footer{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    min-width: 100vw;

}

td, th,tr,p,form,textarea,h1{
    padding:20px;
}

.author{
    color: hotpink;
}

.keyword{
    display: inline;
    padding:10px;
    padding-left:20px;
    font-size: 15px;
    color:red;
}

.keyword::before{
    content:"-"
}

input[type="submit"]{
    padding: 10px;
    margin: 0;
}



a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

a:hover{
    color: rgb(40, 8, 40);
    font-weight: 500;
    text-decoration: underline;
}

a:visited{
    color: rgba(191, 145, 191, 0.401);
}

a.nav-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding:15px;
    color: white;
    text-decoration: none;
    max-width: 150px;
    border-bottom: black solid 3px;
}


a.nav-link:hover{
    border-bottom: hotpink solid 3px;
    color: pink;
}
